[Unit]
Description=Uberview dashboard

[Service]
Type=simple

ExecStart=%h/.local/bin/uberview %h/.config/uberview/config.yaml
Restart=on-failure
RestartSec=5s
StartLimitBurst=10

NoNewPrivileges=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=default.target
